// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #cc7200;


$color-naranaja: #fbab60;
$color-naranaja-dark: #ff8f00;
$color-naranaja-dark-x2: #cc7200;
$color-negro:#1c1107;
$color-negro-light:#596067;
$color-blanco:#ffffff;
$color-blanco-light:#f1f1f1;
