.home{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ed9017+0,f2c657+100 */
	background: #ed9017; /* Old browsers */
	background: -moz-linear-gradient(top, #ed9017 0%, #f2c657 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ed9017 0%,#f2c657 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ed9017 0%,#f2c657 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	height: 100vh;
}